.app {
    text-align: center;
    color: #336699;
}

.nav-pills {
    color: red;
}

h1 {
    color: darkred;
    font-size: 4.0em;
    font-family: 'Perpetua', 'sans-serif';
    margin-bottom: 3.3em;
}
h2 {
    color: darkred;
    font-size: 4.0em;
    font-family: 'Perpetua', 'sans-serif';
}

.homePage, .loginPage {
    height: 100vh;
}

a{
    color: #31708f;
}

.formDiv {
    height: 70%;
    background: rgba(230, 161, 161, .5);
    width: 100%;
}

input {
    margin-left: 1em;
}

label {
    font-size: 2em;
}
