

.nav-pills {
    color: red;
}

li img {
    height: 5vh;
}

h1 {
    color: darkred;
    font-size: 4.0em;
    font-family: 'Clicker Script', 'Perpetua', 'sans-serif';
    margin-bottom: 3.3em;
}
h2 {
    color: darkred;
    font-size: 4.0em;
    font-family: 'Perpetua', 'sans-serif';
}

.homePage, .loginPage {
    height: 80vh;
}

a{
    color: #31708f;
}

.formDiv {
    height: 70%;
    background: rgba(230, 161, 161, .5);
    width: 100%;
}

input {
    margin-left: 1em;
}

label {
    font-size: 2em;
}

.profileInfo {
    width: 50vw;
}

a {
    color: #336699;
}

a:hover {
    text-decoration: none;
}

.questionImages {
    padding: 0;
    margin: 20px 0 20px 0;

}

.questionImages:hover img{
    transform:scale(1.1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.67);
    box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.67);
}

.spanText {
    text-align: right;
}

.footer{
    font-size: 2vmin;
    background-color: rgba(255, 255, 255, .3);
    /*width: 115.5%;*/
    /*margin-left: -7vw;*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    height: 20vh;
    border: 1px red solid;
}

.footer p {
    margin-bottom: 0;
    text-align: center;
}



.client .info-section {
    color: green;
}

.homeText {
    position: absolute;
    top: 80px;
    right: 10%;
}

.imagesDiv {
    background-color: #F3E5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    padding: 20px;
    max-width: 1200px;
    -webkit-box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
}

.imagesTitle {
    margin-top: 20px;
    color: #673AB7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.budgetDiv {
    background-color: #F3E5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    padding: 20px;
    align-self: center;
    -webkit-box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
}

.budgetTitle {
    margin-top: 20px;
    color: #673AB7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}


.resultsPlanners {
    background-color: #F3E5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    padding: 20px;
    align-self: center;
    max-width: 1000px;
    -webkit-box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
}

.resultsTitle {
    margin-top: 20px;
    color: #673AB7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.plannerDetail {
    background-color: #F3E5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    padding: 20px;
    align-self: center;
    max-width: 1000px;
    -webkit-box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 19px -4px rgba(0,0,0,0.75);
}

.plannerTitle {
    margin-top: 20px;
    color: #673AB7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.app {
    text-align: center;
    color: #336699;
    width: 100vw;
    height: 92vh;
}

.header {
    opacity: 0.5;
    width: 100%;
    height: 8vmin;

}

.zoom {
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -ms-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

.zoom:hover {
    -webkit-transform:rotate(2deg) scale(1.1);
    -moz-transform:rotate(2deg) scale(1.1);
    -ms-transform:rotate(2deg) scale(1.1);
    -o-transform:rotate(2deg) scale(1.1);
    transform:rotate(2deg) scale(1.1);
}