.app {
    text-align: center;
    color: #336699;
}

.nav-pills {
    color: red;
}

h1 {
    color: darkred;
    font-size: 4.0em;
    font-family: 'Perpetua', 'sans-serif';
    margin-bottom: 3.3em;
}
h2 {
    color: darkred;
    font-size: 4.0em;
    font-family: 'Perpetua', 'sans-serif';
}

.homePage, .loginPage {
    height: 100vh;
}

a{
    color: #31708f;
}

.formDiv {
    height: 70%;
    background: rgba(230, 161, 161, .5);
    width: 100%;
}

input {
    margin-left: 1em;
}

label {
    font-size: 2em;
}

.profileInfo {
    width: 50vw;
}

a {
    color: #336699;
}

a:hover {
    text-decoration: none;
}

.questionImages {
    padding-bottom: 30px;

}

.questionImages:hover img{
    transform:scale(1.1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.67);
    box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.67);
}

.clicked {
    border: 1px red solid;
}
